# Perfil local integrado
SERVER_PORT=8081
SPRING_PROFILES_ACTIVE=local
LOCAL_JWT_ISSUER=https://login.microsoftonline.com/pedidos360-local/v2.0
LOCAL_JWT_AUDIENCE=api://150f51db-4084-4979-b1a1-e6a6e7893a01
LOCAL_JWT_HMAC_SECRET=pedidos360-local-secret-change-me-32-bytes-minimum
CATALOG_SERVICE_URL=http://localhost:8082

# Para Oracle/cloud usar SPRING_PROFILES_ACTIVE=oracle y:
# ORDERS_DB_URL=jdbc:oracle:thin:@//oracle-host:1521/ORCLPDB1
# ORDERS_DB_USERNAME=PEDIDOS360_ORDERS
# ORDERS_DB_PASSWORD=REEMPLAZAR
# ENTRA_ISSUER=https://login.microsoftonline.com/1feca74f-8331-414a-bd8d-2d687b22a7b3/v2.0
# ENTRA_API_AUDIENCE=150f51db-4084-4979-b1a1-e6a6e7893a01
